[Unit]
 Description = web server for matsuura
[Service]
 WorkingDirectory = /home/pi/matsuura_uploader
 ExecStart = /usr/local/bin/gunicorn --bind :80 -w 4 wsgi:flask_app
 Type = simple
[Install]
 WantedBy=multi-user.target


