[Unit]
 Description = serial sender for the matsuura
[Service]
 ExecStart = /usr/bin/python3 /home/pi/matsuura_uploader/serial_sender.py
 Type = simple
[Install]
 WantedBy=multi-user.target


