

.alert {
 padding: .1rem .25rem;
}

.div-custom-bordered {
  border-color: #999999;
  background: #fff;
  border-style: solid;
  border-width: 1px;
  margin: 2px;
  padding: 2px;
  border-radius: 4px;
}

.loader {
  border: 10px solid  rgb(150,150,150) ;
  border-top: 10px solid rgb(0,123,255); /* bootstrap primary blue */
  border-radius: 50%;
  width: 40px;
  height: 40px;
  animation: spin 2s linear infinite;
}


@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}



