<style>
</style>

<div style="height:10px;"></div>
<div class="row">
	<div class="col-sm-2">
		<img style="max-width:100%;max-height:100%" src="/static/matsuura_clipped_128w.png">
	</div>
	<div class="col-sm-7">
		<h1 >MATSUURA FILE UPLOADER</h1>
	</div>
	<div class="col-sm-3 text-right float-right">
		{% if current_user.is_authenticated %}
		<a href="/" class="btn btn-success text-right m-1 float-right btn-lg">HOME</a>
		{% if current_user.id != g.kiosk_user_name %}
		<h1> {{ g.kiosk_user_name }} </h1>
		<a href="/logout" class="btn btn-success text-right m-1 float-right btn-lg">LOGOUT</a>
		{% endif %}
		{% endif %}
	</div>
</div>
	<div style="height:10px;"></div>

	<!-- inform javascript of user id -->
	<script type="text/javascript">
var username = "{{ current_user.id}}";
	</script>
